* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#logo img {
  padding: 15px;
  height: 80px;
  margin-left: 20px;
}

#navbar {
  display: flex;
}


ul {
  position: relative;
  left: 850px;
  display: flex;
  margin-top: -45px;
  cursor: pointer;
}

#navbar ul li {
  list-style: none;
  font-size: 0.8rem;
  font-weight: bold;
}

#navbar ul a {
  color: white;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 20px;
}

#promo-container {
  position: relative;
  text-decoration: none;
}

.promo-title {
  color: white;
  padding: 20px 0 20px 20px;
  margin-top: 110px;
  font-size: 2.5rem;
  position: relative;
  /* width: 100%; */
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.para {
  color: white;
  margin-top: -18px;
  margin-left: 20px;
  padding: 20px;
  font-size: 1rem;
  position: relative;
  line-height: 1em;
  text-decoration: none;
}

p {
  display: block;
}

span {
  display: block;
}

#can1 {
  margin-top: -280px;
  margin-left: 490px;
}

#can2 {
  margin-top: -290px;
  margin-left: 735px;
}

#can3 {
  margin-top: -265px;
  margin-left: 975px;
}

.button-1 {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 15px;
  height: 30px;
  width: 150px;
  font-size: 0.6rem;
  margin-left: 40px;
  cursor: pointer;
}


.button-1:hover {
  color: black;
  background-color: white;
}


.bg2 {
  margin-top: 50PX;
}

#nitro {
  margin-top: -600px;
  margin-left: 280px;
}

#nito-title {
  margin-top: -520px;
  margin-left: 890px;
}

#nitro-slogan {
  color: white;
  padding: opx;
  font-weight: bolder;
  margin-top: 35px;
  margin-left: 920px;
}

.d-1 {
  margin-left: 55px;
}

.BUTTON-2 {
  height: 35px;
  width: 160px;
  border: none;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 15px;
  font-size: 1rem;
  margin-top: 30px;
  margin-left: 1000px;
  text-transform: uppercase;
  cursor: pointer;
}

.BUTTON-2:hover {
  color: black;
  background-color: white;
}

.BUTTON-2:active {
  box-shadow: 2px 5px 5px black;
  opacity: 0.5px;
}

#footer-logo{
  padding: 20px 28px 180px;
}